# Attributes
public-f net.minecraft.entity.ai.attributes.RangedAttribute field_111118_b # maximumValue
public-f net.minecraft.entity.ai.attributes.RangedAttribute field_111120_a # minimumValue

# Model Gap
public net.minecraft.client.renderer.block.model.ItemModelGenerator$Span
public net.minecraft.client.renderer.block.model.ItemModelGenerator$SpanFacing

# Parry
public net.minecraft.entity.projectile.EntityThrowable field_70192_c # EntityThrowable thrower
public net.minecraft.entity.EntityLivingBase func_184583_d(Lnet/minecraft/util/DamageSource;)Z # EntityLivingBase canBlockDamageSource

# Item Entities
public net.minecraft.entity.item.EntityItem func_70289_a(Lnet/minecraft/entity/item/EntityItem;)Z # combineItems
